@import '~antd/dist/antd.css';

.sendButton {
    float:right;
}

.chatList {
    width: 75%;
}

.header {
    background-color: rgb(255, 255, 255);
    text-align: center;
}


.siderBar {
    background-color:rgb(255, 255, 255);
    // transition:width 1s;
    -moz-transition:width 1s; /* Firefox 4 */
    -webkit-transition:width 1s; /* Safari and Chrome */
    -o-transition:width 1s; /* Opera */
    width: 20%;
    height: 20%;
    float: left;
}
